<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Joseph Madsen</title>{% endblock title %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://umami.josephmadsen.com/script.js" data-website-id="6157f757-ca1d-48eb-8d49-97af9c89a8d8"></script> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon"href="{% static 'favicon.png' %}">
</head>
<body>
                
{% block navbar %}
    <nav class="navbar nav-background">
        <ul class="nav-list">
            <li class="vt"><a href="{% url 'home' %}">jm</a></li>
            <li class="vt"><a href="{% url 'blog:index' %}">blog</a></li>
            <li class="vt"><a href="{% url 'links' %}">links</a></li>
        </ul>
    </nav>
{% endblock navbar %}
    

{% block content %}
    
{% endblock content %}


{% block pagination %}
    {% if is_paginated %}
    <div class="container">
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class="btn-black" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a class="btn-black" href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% endif %}
{% endblock pagination %}
    
</body>
</html>