@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); 


blockquote {
    background: lightgray;
    padding: 1px 1px 1px 15px;
    border-radius: 5px;
    max-width: 70ch;
}

body { 
    max-width: 90vw;
    padding-left: 5vw;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background: whitesmoke;
}

.box { 
    border: 1px dashed black;
    border-radius: 5px;
    padding-left: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.btn-black {
    color: whitesmoke;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: medium;
    text-shadow: 0 0 5px gray;
}

.btn-black:hover {
    color: whitesmoke;
    text-decoration: none;
    text-shadow:
    0 0 1px whitesmoke, 
    0 0 5px white;
}

.btn-peru {
    color: black;
    background-color: peru;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    text-shadow: 0 0 5px gray;
}

.btn-peru:hover {
    color: whitesmoke;
    text-decoration: none;
    text-shadow:
    0 0 1px whitesmoke, 
    0 0 5px white;
}

.btn-wheat {
    color: black;
    background-color: wheat;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: x-large;
    text-shadow: 0 0 5px gray;
}

.btn-wheat:hover {
    color:black;
    background-color: burlywood;
    text-decoration: none;
    text-shadow: 0 0 5px gray
}

code {
    white-space: pre-wrap;
}

.codehilite {
    padding: 1em;
    border-radius: 5px;
    max-width: 70ch;
}

.column-1 {
    float: left;
    width: 65%;
}

.column-2 {
    float: left;
    width: 34%;
    margin-right: 1%;
    text-align: right;
}

.container {
    max-width: 1000px;
    margin: 5px 10px 5px 20px;
}

.content {
	min-height: calc(100vh - 180px);
}

.footer {
    font-family: monospace;
	max-height: 80px;
    padding: 20px;
    text-align: center;
}

.header {
	height: 80px;
}

.navbar {
    top: 0px; 
    width: 100%;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
  }

.nav-list li {
    float: left;
}

.nav-list li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding-left: 2rem;
    text-decoration: none;
    font-size: x-large;
  }

.nav-list li a:hover {
    color: white;
    text-shadow: 0 0 5px white;
}

.nav-background {
    background: rgb(170,100,10);
    background: linear-gradient(90deg, 
        rgba(170,100,10,0) 0%,
        rgba(170,100,10,.3) 5%, 
        rgba(170,100,10,.5) 10%, 
        rgba(170,55,5,.8) 30%,
        rgba(140,55,5,.8) 70%,    
        rgba(170,100,10,.3) 90%, 
        rgba(170,100,10,0) 100%);
}

p {
    max-width: 45rem;
}

.paginate {
    font-family: monospace;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.search-box {
    background-color: rgb(50, 50, 50);
    border-color: lightgray;
    border-radius: 10px;
    border-width: 5px;
    max-width: 13ch;
    padding: 5px 5px 8px 8px;
    color: orange;
    text-shadow: 1px 1px 5px orangered;
}

.search-box:focus {
    outline: 2px solid rgba(170, 101, 10, 0.5)
}

.spacer {
    min-width: 10px;
    min-height: 10px;
}

.spacer-lg {
    min-width: 50px;
    min-height: 50px;
}

.tag {
    color: whitesmoke;
    background-color: black;
    border-radius: 5px;
    font-size: small;
    font-family: monospace;
    padding: 4px;
    margin-right: 3px;
    text-decoration: none;
}

.tag:hover {
    color: whitesmoke;
    text-decoration: none;
    text-shadow:
    0 0 1px whitesmoke, 
    0 0 5px white;
}

.text-muted {
    color: gray;
    font-size: small;
    font-family: monospace;
}

.title {
    font-stretch: expanded;
}

.vt {
	font-family: 'VT323', monospace;
}

.vt-shadow {
    text-shadow: 1px 1px 5px gray;
}
