{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load markdown_extras %}

    <link rel="stylesheet" href="{% static 'css/codehilite.css' %}">

    <div class="container-sm">
        <h3>{{ post.title }}</h3>
        <p class="text-muted small">{{ post.published }}</p>
        <p class="word-wrap" style="width: 50rem;"> {{ post.text | to_markdown | safe }}</p>
        <br></br>
        <a href="{% url 'blog:index' %}" class="btn btn-primary">Go Back</a>
    </div>

{% endblock content %}