{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load markdown_extras %}

    <link rel="stylesheet" href="{% static 'css/codehilite.css' %}">

    <div class="container-sm">
        <h3>{{ post.title }}</h3>
        <div>
            {% for tag in post.tags.all %}
            <a href="{% url 'blog:tag' tag.id %}" class="badge text-white bg-dark">
            {{tag}}
            </a>
            {% endfor %}
        </div>
        <p class="text-muted small">{{ post.published }}</p>
        <p class="word-wrap" style="width: 80rem;"> {{ post.text | to_markdown | safe }}</p>
        <br></br>
        <a href="{% url 'blog:index' %}" class="btn btn-primary">Go Back</a>
    </div>

{% endblock content %}