{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load markdown_extras %}

    <link rel="stylesheet" href="{% static 'css/codehilite.css' %}">

    <div class="container">
        <h1>{{ post.title }}</h1>
        <div>
            {% for tag in post.tags.all %}
            <a class="tag" href="{% url 'blog:tag' tag.id %}">{{ tag }}</a>
            {% endfor %}
        </div>
        <p class="text-muted">{{ post.published }}</p>
        {{ post.text | to_markdown | safe }}
        <br>
        <a href="{% url 'blog:index' %}" class="vt btn-peru">Go Back</a>
        <div class="spacer-lg"></div>
    </div>

{% endblock content %}