{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container-sm">
    <h2>Hello</h2>
    <br>
    <img src="{% static 'images/jm_headshot.png' %}" alt="pixelated Joseph Madsen" width="250" height="250">
    <br>
    <br>
    <p>
        My name is Joseph Madsen.<br>
        On a good day, I'm a little above below average.<br>
        Go <a href="{% url 'blog:index' %}">here</a> to read my blog.<br> 
        I write about Python, Django, Linux, and whatever else pops into my head.
    </p>
</div>

{% endblock content %}
    