{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load markdown_extras %}

    <link rel="stylesheet" href="{% static 'css/codehilite.css' %}">

    <div class="container-sm">
        <h1 class="vt">The Blog</h1>
        <div class="spacer"></div>

        {% if tag_name %}
            <h2>Tag: {{tag_name}}</h2>
            
            {% for post in posts %}
            <div class="card m-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text text-muted small">{{ post.published }}</p>
                    <p class="card-text">{{ post.text | to_markdown | safe | truncatechars:75 }}</p>
                    <a href="{% url 'blog:detail' post.slug %}" class="btn btn-dark">Read More</a>
                </div>
            </div>
            {% endfor %}

        {% else %}
            <h2>All Posts</h2>
        {% endif %}

        {% for post in post_list %}
        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text text-muted small">{{ post.published }}</p>
                <p class="card-text">{{ post.text | to_markdown | safe | truncatechars:75 }}</p>
                <a href="{% url 'blog:detail' post.slug %}" class="btn btn-dark">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}
