{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load markdown_extras %}

    <link rel="stylesheet" href="{% static 'css/codehilite.css' %}">

    <div class="container">
        <div class="row">
            <div class="column-1">
                <h1 class="vt vt-shadow">The Blog</h1>

                {% if tag_name %}
                <div class="container">
                    <h2>Tag: <em style="font-weight: lighter;">{{tag_name}}</em></h2>
                    
                    {% for post in posts %}
                    <div class="box" style="width: auto;">
                        <h3>{{ post.title }}</h3>
                        <p class="text-muted small">{{ post.published }}</p>
                        <p>{{ post.text | to_markdown | safe | truncatechars:100 }}</p>
                        <a href="{% url 'blog:detail' post.slug %}" class="vt btn-peru">Read More</a>
                    </div>
                    {% endfor %}
                </div>

                {% else %}
                <div class="container">
                    <h2>All Posts</h2>

                    {% for post in post_list %}
                    <div class="box" style="width: auto;">
                        <h3>{{ post.title }}</h3>
                        <p class="text-muted">{{ post.published }}</p>
                        <p>{{ post.text | to_markdown | safe | truncatechars:100 }}</p>
                        <a href="{% url 'blog:detail' post.slug %}" class="vt btn-peru">Read More</a>
                    </div>
                    {% endfor %}
                </div>    
                {% endif %}  
            </div>

            <div class="column-2">
                <div class="container">
                    <h1 class="vt vt-shadow">Tags</h1>
                    
                    {% for tag in tags %}
                        <p><a class="tag" href="{% url 'blog:tag' tag.id %}">{{ tag }}</a></p>
                    {% endfor %}
                        
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
