{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <h1 class="vt vt-shadow">Links</h1>
            <div class="container">
                <a class="btn-wheat vt" href="https://dev.to/josephmads">Dev.to</a><br><br>
                <a class="btn-wheat vt" href="https://github.com/josephmads">GitHub</a><br><br>
                <a class="btn-wheat vt" href="https://www.linkedin.com/in/joseph-madsen/">LinkedIn</a><br><br>
                <a class="btn-wheat vt" href="https://fosstodon.org/@josephmads">Mastodon</a><br><br>
                <a class="btn-wheat vt" href="http://sk-id.info">SKID</a><br><br>
                <a class="btn-wheat vt" href="https://twitter.com/josephmads">Twitter</a><br><br>
            </div>
    </div>
{% endblock content %}
    