<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>JavaScript</title>{% endblock title %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://umami.josephmadsen.com/script.js" data-website-id="6157f757-ca1d-48eb-8d49-97af9c89a8d8"></script> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'js/css/styles.css' %}">
    <link rel="icon"href="{% static 'favicon.png' %}">
</head>
<body>

{% block content %}
    
{% endblock content %}
    
</body>
<script src="{% static 'js/scripts/scripts.js' %}"></script>
</html>