@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); 

a {
    color: lightskyblue;
}

a:visited {
    color: plum;
}

blockquote {
    background: #353535;
    padding: 1px 1px 1px 15px;
    border-radius: 5px;
    max-width: 70ch;
}

body { 
    margin: auto;
    font-family: sans-serif;
    background: #0d0d0d;
    color: whitesmoke;
}

.box {
    background: #353535; 
    border-radius: 5px;
    padding: 0.1rem 1rem 1rem;
    margin-bottom: 1rem;
    box-shadow: 
    0px 0px 5px 1px peru inset;
}

.btn-black {
    color: whitesmoke;
    background-color: #353535;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: medium;
    text-shadow: 0 0 5px gray;
}

.btn-black:hover {
    color: whitesmoke;
    text-decoration: none;
    text-shadow:
    0 0 1px whitesmoke, 
    0 0 5px white;
}

.btn-black:visited {
    color: whitesmoke;
}

.btn-peru {
    color: black;
    background-color: peru;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    text-shadow: 0 0 5px gray;
}

.btn-peru:hover {
    color: whitesmoke;
    text-decoration: none;
    text-shadow:
    0 0 1px whitesmoke, 
    0 0 5px white;
}

.btn-peru:visited {
    color: whitesmoke;
}

.btn-wheat {
    color: black;
    background-color: wheat;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: x-large;
    text-shadow: 0 0 5px gray;
}

.btn-wheat:hover {
    color:black;
    background-color: burlywood;
    text-decoration: none;
    text-shadow: 0 0 5px gray
}

.btn-wheat:visited {
    color: black;
}

code {
    white-space: pre-wrap;
}

.codehilite {
    padding: 3px 3px 3px 15px;
    border-radius: 5px;
    max-width: 70ch;
}

.column-1 {
    float: left;
    width: 65%;
}

.column-2 {
    float: left;
    width: 34%;
    margin-right: 1%;
    text-align: right;
}

.container {
    max-width: 1000px;
    margin: 5px 10px 5px 20px;
}

.content {
    max-width: 90vw;
    margin: auto;
	min-height: calc(100vh - 9rem);
}

.footer {
    font-family: monospace;
    background: #353535;
	height: 1.8rem;
    padding: 1rem;
    text-align: center;
}

.navbar {
    top: 0px; 
    width: 100%;
    background: #1e1e1e;
    text-align: center;
}

.nav-menu {
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
}

.nav-menu a { 
    color: whitesmoke;
    padding-left: 1.5rem;
    text-decoration: none;    
}

.nav-menu a:hover {
    color: white;
    text-shadow: 0 0 5px white;
}

.nav-toggle {
    background: whitesmoke;
    border-radius: 25px;
}

.nav-toggle:hover {
    background: white;
    box-shadow: 0 0 8px white;
}

p {
    max-width: 45rem;
}

.paginate {
    font-family: monospace;
}

#pagination {
    margin: 1rem 5rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.search-box {
    background-color: rgb(50, 50, 50);
    border-color: lightgray;
    border-radius: 10px;
    border-width: 5px;
    max-width: 13ch;
    padding: 5px 5px 8px 8px;
    color: orange;
    text-shadow: 1px 1px 5px orangered;
}

.search-box:focus {
    outline: 2px solid rgba(170, 101, 10, 0.5)
}

.spacer {
    min-width: 10px;
    min-height: 10px;
}

.spacer-lg {
    min-width: 50px;
    min-height: 50px;
}

.tag {
    color: whitesmoke;
    background-color: peru;
    border-radius: 5px;
    font-size: small;
    font-family: monospace;
    padding: 4px;
    margin-right: 3px;
    text-decoration: none;
}

.tag:hover {
    color: whitesmoke;
    text-decoration: none;
    text-shadow:
    0 0 1px whitesmoke, 
    0 0 5px white;
}

.tag:visited {
    color: whitesmoke;
}

.text-muted {
    color: gray;
    font-size: small;
    font-family: monospace;
}

.title {
    font-stretch: expanded;
}

.vt {
	font-family: 'VT323', monospace;
}

.vt-shadow {
    text-shadow: 1px 1px 5px rgb(219, 219, 219);
}
