{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load markdown_extras %}

<div class="container">
    <h1 class="vt vt-shadow">Hello</h1>
    <img src="{% static 'images/jm_headshot.png' %}" alt="pixelated Joseph Madsen" 
        width="250" height="250" style="border-radius: 10px;">
    <div class="spacer"></div>
    <div class="vt" style="font-size: large; width: auto; max-width: 25rem;">
        
        {% if element.content %}
            {{ element.content | to_markdown | safe }}
        {% else %}
            <p>
                Hi, I'm Joseph Madsen.<br>
                On a good day, I'm a little above below average.
            </p>
        {% endif %}
            
        
    </div>
</div>

{% endblock content %}
    